<ion-view view-title="Say Now">

    <ion-content has-header="true" style="margin-top: -50px">

        <section class="login-container">


            <div class="col header text-center" ng-hide="QrUser.id||newObject">
                <strong>To Say Just</strong>
            </div>
            <div class="col button-row text-center ">
                <button class="button button-energized" ng-click="scanBarcode()">
                    <span class="icon ion-social-codepen large "> </span>
                    Scan QR/BAR Code
                </button>
            </div>

            <div style="text-align: center;" class="col header text-center" ng-hide="QrUser.id||newObject">
                <img src="img/home1.jpg" style="max-width: 100%"/>
            </div>

            <div style="text-align: center;" class="col header text-center" ng-hide="QrUser.id||newObject">
                <img src="img/home2.jpg" style="max-width: 100%"/>
            </div>


            <div class="col list" ng-show="newObject">

                <div class="col header text-center">
                    <strong>
                    No one found this! Please add for all...
                        </strong>
                </div>
                <div >

                    <form ng-submit="addObject()" name="addworker-f">


                            <label class="item item-input ">
                                <span class="input-label">Name</span>
                                <input type="text" name="name" placeholder="enter name" ng-model="data.name"

                                       required/>
                            </label>

                            <div class="list">

                                <div class="item ">
                                    Picture
                                    <a class="button pull-right" ng-click="takePicture('p');"><span
                                            class="icon ion-android-camera large energized"></span></a>
                                    <a class="button pull-right" ng-click="selectPicture('p')"><span
                                            class="icon ion-images large energized"></span></a>
                                </div>
                            </div>

                            <label class="item item-input ">
                                <span class="input-label">Description</span>
                                <textarea placeholder="enter description"
                                          name="description" ng-model="data.description"
                                          rows="4" ng-minlength="1" required></textarea>
                            </label>


                            <!--<label class="item item-input ">
                                <span class="input-label">Brand</span>
                                <input type="text" name="brand" placeholder="enter brand" ng-model="data.brand"
                                       ng-minlength="6"
                                       required/>
                            </label>

                            <label class="item item-input ">
                                <span class="input-label">Email</span>
                                <input type="email" name="email" placeholder="enter email" ng-model="data.email"
                                       ng-minlength="6"
                                />
                            </label>

                            <label class="item item-input ">
                                <span class="input-label">Mobile</span>
                                <input type="number" name="mobile" placeholder="mobile" ng-model="data.mobile"
                                       ng-minlength="10"
                                       ng-maxlength="10"/>
                            </label>-->





                            <input class="button button-block button-positive" type="submit" name="need now"
                                   value="Register It"
                                   nav-direction="forward"
                                   ng-disabled="addworker-f.$invalid ">


                    </form>

                </div>


            </div>

            <div class="card " ng-show="QrUser.id" ng-class="">

                <div class="col header text-center"> {{QrUser.name}}</div>
                <div style="text-align: center;" class="col header text-center" >
                    <img src="http://api.file-dog.shatkonlabs.com/files/rahul/{{QrUser.photo}}" style="max-width: 100%"/>
                </div>

                <div class="col header text-center"> <h2> <strong>{{QrUser.name}}</strong></h2></div>
                <div class="col header text-center">
                <p>{{QrUser.description}}</p>
</div>
                <div class="col header text-center">
                <strong>What you want to say ?</strong>
                    </div>
                <form ng-submit="feedback()" name="addfeedback-f">
                    <div class="list">

                        <label class="item item-input ">

                            <textarea placeholder="enter feedback..." name="feedback" ng-model="data.feedback" rows="4"
                                      ng-minlength="1" ng-maxlength="140" required></textarea>
                        </label>

                        <div class="col button-row text-center">

                            <input class="button button-block button-energized" type="submit" name="need now"
                               value="say"
                               nav-direction="forward"
                               ng-disabled="addfeedback-f.$invalid ">
                            </div>

                    </div>
                </form>
                <hr/>
                <br>

                <div class="col header text-center">
                    <strong>People Said ...</strong>
                </div>

                <ion-list>
                    <ion-item ng-repeat="feed in feeds "
                              class="item item-text-wrap">
                        <h2>{{feed.feedback}}</h2>
                        <i style="font-style: italic;font-size: 0.8em;">{{feed.creation | date:'MM/dd/yyyy @ h:mma'}}</i>
                    </ion-item>


                </ion-list>


            </div>

        </section>


    </ion-content>
</ion-view>
