<ion-view view-title="Say Now">

    <ion-content has-header="true" style="margin-top: -50px">

        <section class="login-container">


            <div class="col button-row text-center">
                <button class="button button-calm" ng-click="scanBarcode()">
                    <span class="icon ion-social-codepen large "> </span>
                    Scan QR/BAR Code
                </button>
            </div>

            <div style="text-align: center;" ng-hide="QrUser.id||newObject">
                <img src="http://api.file-dog.shatkonlabs.com/files/rahul/66" height="450"/>
            </div>


            <div class="card " ng-show="newObject">

                <div class="item item-divider">
                    Sorry Info not Found!<br/>
                    Please Register Code
                </div>
                <div class="item item-text-wrap">

                    <form ng-submit="addObject()" name="addworker-f">
                        <div class="list">

                            <label class="item item-input ">
                                <span class="input-label">Name</span>
                                <input type="text" name="name" placeholder="enter name" ng-model="data.name"
                                       ng-minlength="6"
                                       required/>
                            </label>

                            <div class="list">

                                <div class="item ">
                                    Picture
                                    <a class="button pull-right" ng-click="takePicture('p');"><span
                                            class="icon ion-android-camera large calm"></span></a>
                                    <a class="button pull-right" ng-click="selectPicture('p')"><span
                                            class="icon ion-images large calm"></span></a>
                                </div>
                            </div>

                            <label class="item item-input ">
                                <span class="input-label">Brand</span>
                                <input type="text" name="brand" placeholder="enter brand" ng-model="data.brand"
                                       ng-minlength="6"
                                       required/>
                            </label>

                            <label class="item item-input ">
                                <span class="input-label">Email</span>
                                <input type="email" name="email" placeholder="enter email" ng-model="data.email"
                                       ng-minlength="6"
                                />
                            </label>

                            <label class="item item-input ">
                                <span class="input-label">Mobile</span>
                                <input type="number" name="mobile" placeholder="mobile" ng-model="data.mobile"
                                       ng-minlength="10"
                                       ng-maxlength="10"/>
                            </label>


                            <div class="padding">

                                <p ng-show="addworker-f.mobile.$error.minlength || addworker-f.mobile.$error.maxlength">
                                    *
                                    Mobile No.
                                    show be of 10 digit.</p>

                            </div>


                            <input class="button button-block button-positive" type="submit" name="need now"
                                   value="Register It"
                                   nav-direction="forward"
                                   ng-disabled="addworker-f.$invalid ">

                        </div>
                    </form>

                </div>


            </div>

            <div class="card " ng-show="QrUser.id" ng-class="">

                <div id="profile-bg">

                </div>
                <div id="content">
                    <div id="profile-info">
                        <img id="profile-image" src="http://api.file-dog.shatkonlabs.com/files/rahul/{{QrUser.photo}}">
                        <h3 id="profile-name">{{QrUser.name}} <i class="icon ion-checkmark-circled balanced"></i></h3>

                    <span id="profile-description">
                        <a class="icon-left ion-ios7-telephone" ng-href="tel: +91 {{QrUser.mobile}}">
                            <span class="ion-android-call large"></span>
                            +91 {{QrUser.mobile}}
                        </a> , {{QrUser.rating}}/5<span class="ion-star large"></span>, AGE: {{ calculateAge(QrUser.dob) }}
                    </span>


                    </div>
                </div>

                <form ng-submit="feedback()" name="addfeedback-f">
                    <div class="list">

                        <label class="item item-input ">
                            <span class="input-label">Feedback...</span>
                            <textarea placeholder="enter feedback..." name="feedback" ng-model="data.feedback" rows="4"
                                      ng-minlength="1" ng-maxlength="140" required></textarea>
                        </label>

                        <input class="button button-block button-positive" type="submit" name="need now"
                               value="say"
                               nav-direction="forward"
                               ng-disabled="addfeedback-f.$invalid ">

                    </div>
                </form>

                <ion-list>
                    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="feed in feeds "
                              type="item-text-wrap">
                        <h2>{{feed.feedback}}</h2>
                        <i style="font-style: italic;font-size: 0.8em;">{{feed.creation}}</i>
                    </ion-item>


                </ion-list>


            </div>

        </section>


    </ion-content>
</ion-view>
